body {
  border-radius: 5px;
    margin: 10px 0;
    background-color: #000000;
    font-family: trebuchet ms;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 40px;
  }
  h1 {
    border-radius: 5px;
    margin: 10px 0;
    color: #ffa;
    text-shadow: 0 0 30px #fff;
  }
  input {
    border-radius: 5px;
    margin: 10px 0;
    font-size: 1.1em;
    background-color: #ddd;
    border: 3px solid #9fc;
    border-radius: 5px;
    padding: 8px;
    width: 400px;
    box-shadow: 0 0 20px #4f9;
  }

  textarea {
    border-radius: 5px;
    margin: 10px 0;
    font-size: 1.1em;
    background-color: #ddd;
    border: 3px solid #9fc;
    border-radius: 5px;
    padding: 8px;
    width: 400px;
    box-shadow: 0 0 20px #4f9;

  }
