<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">

  <title>Inicia Sesión</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Inicia Sesión</a>
        </div>
      </nav>


<div class="container col s6">

    <div class="row centrar">
      <form class="col s8 offset-s2 z-depth-1">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_name" type="text" placeholder="Name" class="validate" required>
            <label for="icon_name"></label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">https</i>
            <input id="icon_password" type="password" placeholder="Password" class="validate "required>
            <label for="icon_password"></label>
          </div>
          <div class="col s12">
              <a href="index_1.html" class="waves-effect waves-light btn col s12 start" >Cancel</a>
              <button href="muro.html" class="waves-effect waves-light btn col s12 start">LogIn</button>
          </div>
        </div>
      </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
</html>
